body {
background-image:url(https://lh3.googleusercontent.com/K0nTe1vRNUcTz8WD6s9z0-bdRQEx_HBjy7A2im20fNef2gDz8gznJ76iRSrNbktrAzw=w300); 
}

#Lasagna {
	height:300px;
	width:300px;
}

h1{
  background-color: yellow;
  text-shadow: white;
}